* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  font-family: Helvetica;
  background-color: rgb(175, 196, 245);

}



.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #00000027;
  padding: 10px 0;
}
.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navbar-list li {   
  display: inline;
  margin-right: 20px;

}


.lng-main:hover {
  background-color: #02020275;
}
.lng-main {       /*acribis*/
  display: inline-block;
  margin-left: 40px;
  padding: 0px 0px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: hsla(0, 0%, 100%, 0);
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 18px;
}
.lng-main:hover {
  background-color: #02020275;
}
input, select, textarea {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 10px 20px;
  font-size: .9rem;
  outline: none;
  color: white;
}

a {
  text-decoration: none;
  color: blue;
}



.intro {
  position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; 
}






.main  {
  position: absolute;
  left: 10%;
  top: 30%;
  font-size: 60px;
  color: rgb(255, 255, 255);
  z-index: 10;
}

.lng-fbi {
  position: relative;
  top: 84vh;
  right: -70%; /* This ensures a 5% spacing from the right edge */
  padding: 10px 20px;
  font-size: 40px;
  background-color: transparent;
  border: 1px solid #fffdfd;
  color: #fafafa;
  cursor: pointer;
  z-index: 10;
}


.scroll-container {
    position: fixed;
    top: -20%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: visible;
}





.right {
    margin-left: 100px;
}

.center {
    margin-left: 0;
}

.left {
    margin-left: -100px;
}

.content {
  margin-left: 330px;
  padding: 20px;
  position: relative; /* Add this line */
  z-index: 1; /* Add this line to place it above the scroll-container */
  height: 100vh; /* Set the height to 100vh */
  overflow-y: scroll; /* Add scrolling to the content */
}






/**************************************************************************************/


aa {
  font-size: 25px;
  color: rgba(46, 46, 46, 0);
}

aaa {
  font-size: 40px;
  color: rgba(46, 46, 46, 0);
}
aaaa {
  font-size: 10px;
  color: rgba(46, 46, 46, 0);
}






/******************WATCH**********************************/
.hand {
    width: 2px;
    height: 26px;
    background-color: #000;
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform-origin: bottom;
    
}

.watch {
  width: 75px;
  height: 75px;
  background-color: #f3f9ff;
  border: 0.5px solid #000;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: transform 0.1s ease;
}

.number {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
}

.twelve {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(57, 51, 57);
}



.GUARDO {
  font-size: 8px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(57, 51, 57);
}

.three {
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: rgb(57, 51, 57);
}

.six {
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(57, 51, 57);
}

.nine {
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: rgb(57, 51, 57);
}


.unit1 {
  position: absolute;
  left: 10%;
  top: 35%;
  font-size: 60px;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.unit2 {
position: absolute;
left: 10%;
top: 30%;
font-size: 60px;
color: rgb(255, 255, 255);
z-index: 1;
}

.unit3 {
position: absolute;
left: 65%;
top: 35%;
font-size: 23px;
color: rgb(255, 255, 255);
z-index: 1;
}



.intro { 
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  display: flex;
}
.intro .o{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  display: flex;
}

 

.rectangl {
  width: 150vw;
  height: 150vh;
  background-color: rgba(0, 0, 0, 0.752);
}

.rectangll {
  transform: translate(0, -8vh);
  width: 100vw;
  height: 90vh;
  background-color: rgb(0, 0, 0);

}

.fblock {
  top: 100vh;
 height: 250vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
  text-align: center;
}

.fblock img{
  height: 80vh;
  width: auto;
  position: absolute;
  left: 50%; /* Move the left edge of the image to the center */
  transform: translate(-50%, 45vh);
}


.green, .blue, .red {
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 60%;
  transform: translate(0vw, 115vh); /* Move them 30px down */
  line-height: 100px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  border: 1px solid #000; /* Add a thin black border to all circle buttons */
  display: inline-block; /* Display elements as inline-block to align them horizontally */
  vertical-align: middle;
}



.fblockpco {
height: 100%;
width: 100vw;


}


.tblock {
  width: 100vw;
  height: 200vh;
  display: grid;
  background-color: white;
  grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
  gap: 0px; 
  transform: translate(0%, -260vh);
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}



.imageo, .timageo {
  width: 50vw;
  height: 50vw;
 transform: translate(0%, 0%);
}

.sblock {
  top: 120vh;
  height: 100vh;
   width: 100%;
   background-color: rgb(255, 255, 255);
   position: relative;
  
   display: flex;
   justify-content: center; /* Center horizontally */
   align-items: center; /* Center vertically */
}


.sblock img{
  height: auto;
  width: 100vw;
  position: absolute;
  top: 50%; /* Move the top of the image down to the center */
  left: 50%; /* Move the left edge of the image to the center */
  transform: translate(-50%, -50%);
}
.sblocko {
  height: 100%;
  }
  
  @media (max-width: 1040px) {       /*vertical*/
  
  .fblock {
    top: 100vh;
   height: 150vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
  }
  .fblock img{
    height: auto;
    width: 100vw;
    position: absolute;
    left: 50%; /* Move the left edge of the image to the center */
    transform: translate(-50%, 35vh);
  }

  
  .green, .blue, .red {
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 60%;
    transform: translate(0vw, 70vh); /* Move them 30px down */
    line-height: 100px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    border: 1px solid #000; /* Add a thin black border to all circle buttons */
    display: inline-block; /* Display elements as inline-block to align them horizontally */
    vertical-align: middle;
  }

  
  
  .tblock {
    grid-template-columns: 1fr;
    width: 100vw;
    height: 150vh;
    background-color: white;
    transform: translate(0%, -260vh);
    justify-content: center; /* Center horizontally */
  }

  .imageo, .timageo {
    width: 100vw;
    height: auto;
   transform: translate(0%, 0%);
  }

  .sblock {
    top: 100vh;
    height: 140vh;
     width: 100%;
     background-color: rgb(255, 255, 255);
     position: relative;
     text-align: center;
     transform: translate(0%, -5%);
     display: flex;
  }
  .sblock img{
    height: auto;
    width: 100vw;
    position: absolute;
    top: 50%; /* Move the top of the image down to the center */
    left: 50%; /* Move the left edge of the image to the center */
    transform: translate(-50%, -110%);
  }

  .sblocko {
    height: 100%;
    rotate: (90deg);
    }
}

/******************BASEMENT**********************************/


.basement {
  top: 300vh;
  height: 25vh;
  background-color: #252525;
  margin-top: 20px;
  transform: translate(0%, -220%);
}
.fotter-text {
 font-size: 50px;
 color: white;
 margin-left: 30%;
 margin-top: 10px;
}

li {
  list-style-type: none; /* Removes bullet points */
}

.lng-about, .lng-privacy, .lng-conditions, .lng-delivery {
  padding-top: 50px;
  color: #ffffff;
  font-size: 20px;
  margin-left: 5px;
  padding: 10px 10px;
}

@media (min-width: 500px) {
  .fotter-text {
    font-size: 50px;
    color: white;
    margin-left: 45%;
    margin-top: 10px;
   }
   .lng-about, .lng-privacy, .lng-conditions, .lng-delivery {
    padding-top: 50px;
    color: #ffffff;
    font-size: 20px;
    margin-left: 130px;
    padding: 10px 10px;
  }
}

